<h1>Movie#new</h1>
<p>Find me in app/views/movie/new.html.erb</p>
<h1>New Movie</h1>
<%= form_with model: @movie, url: movie_create_path, method: :post do |form| %>
    <div>
<%= form.label :name, "Nombre de la pelicula" %>
<%= form.text_field :name %>    </div>
    <div>
<%= form.label :synopsis, "Sinopspis" %>
<%= form.text_field :synopsis %>    </div>
    <div>
<%= form.label :director, "Nombre del director" %>
<%= form.text_field :director %>    </div>
    <div>
        <%= form.submit "Guardar" %>
    </div>
<% end %>

